<!doctype html>
<html class="no-js" lang="en" >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Netdroid:Andrunner</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/foundation.css">
  <link rel="stylesheet" href="css/netrunner.css">
  <script src="js/vendor/modernizr.js"></script>
</head>
 
<body>

<div class="fixed">
  <nav class="top-bar" data-topbar>
    <ul class="title-area"> 
      <li class="name"> 
        <h1><a href="index.html">Netdroid:Andrunner</a></h1> 
      </li> 
    </ul> 

<!--     <section class="top-bar-section"> 
      <ul class="right"> 
        <li class="active">
          <a href="login.html">Login</a>
        </li> 
      </ul> 
    </section> 
 -->  </nav>
</div>

<div class="row welcome">
  <div class="medium-6 column small-centered">

     <form action="/login" method="post">
      <div>
        <label>Username:</label>
        <input type="text" name="username" />
        <br/>
      </div>
      <div>
        <label>Password:</label>
        <input type="password" name="password" />
      </div>
      <div>
        <input type="submit" value="Login" />
      </div>
    </form>

  </div>
</div>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>
</html>