{{> header}}
{{> navbar}}

<div class="row welcome">
  <div class="medium-6 column small-centered">

{{^user}}
    <h3>Log in</h3>
    <div class="panel">
      <form action="/login" method="post">
        <div>
          <label>Username:</label>
          <input type="text" name="username" />
        </div>
        <div>
          <label>Password:</label>
          <input type="password" name="password" />
        </div>
        <div>
          <input type="submit" value="Login" />
        </div>
      </form>
    </div>
{{/user}}
{{#user}}
    <h3>You are already logged in</h3>
    <p>If you are here, it is probably a mistake.  Or you might want to <a href="logout">log out</a> before logging as another user.</p>
{{/user}}

  </div>
</div>

{{> footer}}
