{{> header}}
{{> navbar}}


<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
  {{^user}}
      <h3>Log in</h3>
      <div class="well">
        <form action="/login" method="post">
          <div class="form-group">
            <label>Username:</label>
            <input type="text" name="username" autofocus="autofocus" class="form-control"/>
          </div>
          <div class="form-group">
            <label>Password:</label>
            <input type="password" class="form-control password" name="password" />
          </div>
          <div>
            <input type="submit" value="Login" class="btn btn-primary"/>
          </div>
        </form>
      </div>
  {{/user}}
  {{#user}}
      <h3>You are already logged in</h3>
      <p>If you are here, it is probably a mistake.  Or you might want to <a href="logout">log out</a> before logging as another user.</p>
  {{/user}}



    </div>

  </div>
</div>


{{> footer}}
