<!-- Fixed navbar -->
<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Netdroid Andrunner</a>
    </div>
      <ul class="nav navbar-nav navbar-right">
{{^user}}
        <li><a href="login">Login</a></li>
{{/user}}
{{#user}}
        <li><a href="#">{{user}}</a></li>
{{/user}}
      </ul>
   </div>
</div>

{{#error}}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-danger fade in" role="alert">{{error}}<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
      </div>
    </div>
  </div>
</div>
{{/error}}
{{#info}}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-info fade in" role="alert">{{info}}<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
      </div>
    </div>
  </div>
</div>
{{/info}}
{{#success}}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-success fade in" role="alert">{{success}}<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
      </div>
    </div>
  </div>
</div>
{{/success}}