<div class="fixed">
  <nav class="top-bar" data-topbar>
    <ul class="title-area"> 
      <li class="name"> 
        <h1><a href="/">Netdroid:Andrunner</a></h1> 
      </li> 
    </ul> 
    <section class="top-bar-section"> 
      <ul class="right"> 
{{^user}}
        <li class="active"><a href="login">Login</a></li> 
{{/user}}
{{#user}}
        <li class="has-dropdown not-click">
          <a href="#">{{user}}</a>
          <ul class="dropdown">
            <li><a href="logout">Log Out</a></li>
          </ul>
        </li> 
{{/user}}
      </ul> 
    </section> 

  </nav>
</div>
{{#error}}
<div class="alert-box alert" data-alert=""> Error: {{error}} <a class="close">x</a></div>
{{/error}}
{{#success}}
<div class="alert-box success" data-alert=""> {{success}} <a class="close">x</a></div>
{{/success}}