.container {
    display: flex;
    width: 800px;
    height: 600px;
    margin: auto;
}

.main {
    width:480px;
    height:100%;
    background-color: #333;
    border-radius: 20px;
    margin-right: 20px;
}

#textbox {
    margin: 15px 15px 0 15px;
    height:540px;
    width:450px;
    background-color: black;
    color: white;
    overflow: auto;
}

p {
    margin: 0;
}

.inputbox{
    margin: 5px 15px 0 15px;
    width: 450px;
    height: 30px;
    display: flex;
    align-items: center;
}

#prompt {
    color: white;
    margin-right: 5px;
}

#command-prompt {
    flex: auto;
}
.secondary {
    width: 300px;
    height: 100%;
    background-color: #333;
    border-radius: 20px;
}
