.netdroid-chat {
	height: 100%;
	background-color: #EEE;
}

#chat-window {
	height: calc(100% - 100px);
	width: 100%;
	background-color: white;
	border: 1px solid rgb(151,151,151);
	padding: 5px;
}

#chat-input {
	margin-top: 5px;
	width: 100%;
}

#chat-input > div {
	display: inline;
	float: left;
}

#chat-input input {
	width: calc(100% - 15px);
	float: right;
}

.netdroid-chat {
	border-left: 1px solid rgb(151,151,151);
}
