html, body {
	height: 100%;
}

div.container-fluid {
	height: 100%;
}

div.container-fluid > div.row {
	height: 100%;
}

.netdroid-chat {
	height: 100%;
	background-color: #EEE;
}

#chat-window {
	height: calc(100% - 100px);
	width: 100%;
	background-color: white;
	border: 1px solid rgb(151,151,151);
	padding: 5px;
}

#chat-input {
	margin-top: 5px;
	width: 100%;
}

#chat-input input {
	width: 100%;
}

.netdroid-chat {
	border-left: 1px solid rgb(151,151,151);
}
