{{=<% %>=}}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Netdroid:Andrunner</title>
  <link rel="stylesheet" href="vendor/css/bootstrap.css">
  <link rel="stylesheet" href="css/netrunner.css">
</head>
 
<body ng-app="netdroid">
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Netdroid Andrunner</a>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="login">Login</a></li>
      </ul>
   </div>
</div>

<div class="container" ng-controller="test">
  <div class="row">
    <div class="col-sm-2">
    <a class="btn btn-primary" ng-click="demo='prout'">Test 1</a>
    <hr/>
    <a class="btn btn-primary" ng-click="demo='testtest'">TestU 2</a>
    </div>
    <div ng-view={{demo}}>
    </div>

  </div>
</div>

    <script src="vendor/angular.min.js"></script>
    <script src="vendor/angular-route.min.js"></script>
    <script src="js/test.js"></script>
    <script src="vendor/jquery.min.js"></script>
    <script src="vendor/js/bootstrap.min.js"></script>
</body>
</html>
<%={{ }}=%>
